@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

div#notebook {
    font-size: 18px;
    font-family: 'Catamaran', sans-serif;
    line-height: 26px;
}
img {
    max-width: 100% !important;
    page-break-inside: avoid;
}
tr, img {
    page-break-inside: avoid;
}
*, *:before, *:after {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
}
h1, h2, h3 {
    font-family: 'Jost', sans-serif;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-inside: avoid;
}
*, *:before, *:after {
    page-break-inside: avoid;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
}
*, *:before, *:after {
    page-break-inside: avoid;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
}